.details-modal[open] > summary::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: block;
  cursor: default;
  content: " ";
  background: transparent;
}

.btn-normal {
  --color-button: var(--color-secondary);
  --bg-color-button: rgb(246, 248, 250);
  --border-color-button: var(--border-color-primary);
}

.btn-normal:hover {
  --bg-color-button: rgb(239, 242, 245);
}

.btn-normal:active {
  --bg-color-button: rgb(230, 234, 239);
}

.btn-positive {
  --color-button: rgb(255, 255, 255);
  --bg-color-button: rgb(31, 136, 61);
  --border-color-button: rgba(31, 35, 40, 0.15);
}

.btn-positive:hover {
  --bg-color-button: rgb(28, 129, 57);
}

.btn-positive:active {
  --bg-color-button: rgb(25, 121, 53);
  --border-color-button: var(--border-color-primary);
}

.tag {
  box-sizing: border-box;
  position: relative;

  display: inline-flex;
  justify-content: flex-end;

  padding: 0 7px;
  border-radius: 2em;

  white-space: nowrap;

  line-height: 18px;
  font-size: 12px;
  font-weight: 500;

  background-color: var(--tag-bg-color);
  color: var(--tag-color);
}

.tag-hover-overlay {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  margin-right: -7px;
  padding-right: 5px;
  border-radius: 2em;

  font-size: 1.2em;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    var(--tag-bg-color) 80%,
    var(--tag-bg-color) 100%
  );

  opacity: 0;
}

.tag:hover > .tag-hover-overlay {
  opacity: 1;
}

.tag-hover-overlay > span {
  cursor: pointer;
}

.tag-red {
  --tag-bg-color: rgb(215, 58, 74);
  --tag-color: rgb(255, 255, 255);
}

.tag-cyan {
  --tag-bg-color: rgb(162, 238, 239);
  --tag-color: rgb(0, 0, 0);
}

.tag-green {
  --tag-bg-color: rgb(150, 250, 150);
  --tag-color: rgb(0, 0, 0);
}

.tag-yellow {
  --tag-bg-color: rgb(255, 255, 0);
  --tag-color: rgb(0, 0, 0);
}

.tag-add {
  --tag-bg-color: var(--bg-color-primary);
  --tag-color: var(--color-secondary);

  border: 1px solid var(--border-color-primary);
  cursor: pointer;
}

.tag-selector {
  display: flex;
  flex-direction: column;

  width: 300px;
  border-radius: 6px;

  background-color: var(--bg-color-primary);
  border: 1px solid var(--border-color-primary);
  box-shadow:
    0px 6px 12px -3px #25292e0a,
    0px 6px 18px 0px #25292e1f;

  h3 {
    padding: 10px;
    border-bottom: 1px solid var(--border-color-primary);
  }

  .tag-selector-search {
    padding: 7px;
    border-bottom: 1px solid var(--border-color-primary);

    input {
      padding: 5px 12px;
      width: 100%;
    }
  }

  .tag-selector-tag {
    padding: 10px;
    border-bottom: 1px solid var(--border-color-primary);
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;

    &:hover {
      background-color: var(--bg-color-secondary);
    }

    span {
      display: inline-block;
      width: 1em;
      height: 1em;
      background-color: var(--tag-bg-color);
      vertical-align: -2px;
      border: 1px solid var(--border-color-primary);
    }
  }
}
