.btn-normal {
  --color-button: var(--color-secondary);
  --bg-color-button: rgb(246, 248, 250);
  --border-color-button: var(--border-color-primary);
}

.btn-normal:hover {
  --bg-color-button: rgb(239, 242, 245);
}

.btn-normal:active {
  --bg-color-button: rgb(230, 234, 239);
}

.btn-positive {
  --color-button: rgb(255, 255, 255);
  --bg-color-button: rgb(31, 136, 61);
  --border-color-button: rgba(31, 35, 40, 0.15);
}

.btn-positive:hover {
  --bg-color-button: rgb(28, 129, 57);
}

.btn-positive:active {
  --bg-color-button: rgb(25, 121, 53);
  --border-color-button: var(--border-color-primary);
}

.tag {
  box-sizing: border-box;
  position: relative;

  display: inline-flex;
  justify-content: flex-end;

  padding: 0 7px;
  border-radius: 2em;

  line-height: 18px;
  font-size: 12px;
  font-weight: 500;

  background-color: var(--tag-bg-color);
  color: var(--tag-color);
}

.tag-hover-overlay {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  margin-right: -7px;
  padding-right: 5px;
  border-radius: 2em;

  font-size: 1.2em;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    var(--tag-bg-color) 80%,
    var(--tag-bg-color) 100%
  );

  opacity: 0;
}

.tag:hover > .tag-hover-overlay {
  opacity: 1;
}

.tag-hover-overlay > span {
  cursor: pointer;
}
