.image-tag-container {
  width: 300px;

  @media (width <= 768px) {
    width: 200px;
  }

  @media (width <= 640px) {
    div:has(&) {
      flex-direction: column;
    }

    width: 100%;
  }
}

.image-upload-container {
  border: 2px dashed var(--border-color-primary);
  border-radius: 0.375rem;
  aspect-ratio: 1/1;
}

.image-upload-container:focus-within {
  border-color: var(--color-focus);
}

.upload-input {
  position: absolute;
  top: 0;
  left: 0;

  padding: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  cursor: pointer;
}

/* upload icon */
.fa-upload {
  font-size: 30px;
}

input[name="zipcode"] {
  width: 80px;
}

input[name="city"]::placeholder {
  color: black;
}

.tag-container {
  box-sizing: border-box;
  padding: 10px;

  border-top: 1px solid var(--border-color-primary);
  border-bottom: 1px solid var(--border-color-primary);
}

.tag-red {
  --tag-bg-color: rgb(215, 58, 74);
  --tag-color: rgb(255, 255, 255);
}

.tag-cyan {
  --tag-bg-color: rgb(162, 238, 239);
  --tag-color: rgb(0, 0, 0);
}

.tag-green {
  --tag-bg-color: rgb(150, 250, 150);
  --tag-color: rgb(0, 0, 0);
}

.tag-yellow {
  --tag-bg-color: rgb(255, 255, 0);
  --tag-color: rgb(0, 0, 0);
}

.tag-add {
  --tag-bg-color: var(--bg-color);
  --tag-color: var(--color-secondary);

  border: 1px solid var(--border-color-primary);
  cursor: pointer;
}
