body {
  height: 100vh;
  width: 100vw;

  background-image: url(images/background_unblured.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-container {
  height: 100vh;
  width: 100vw;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.login-container {
  margin: 0 13%;
  padding: 7% 20px;
  border-radius: 1rem;

  background-color: var(--bg-color-secondary);
  opacity: 90%;
  box-shadow:
    0 2px 8px 0 rgba(0, 0, 0, 0.2),
    0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.login-footer {
  margin: 0 13%;
  padding: 0 10px;

  ul {
    margin: 0;
  }

  > ul li {
    padding: 5px;
  }

  a {
    color: rgb(255, 255, 255);
    border-radius: 0.25rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

@media (width <= 640px) {
  .login-container {
    flex-direction: column;
    margin: 0 5%;
    gap: 50px;
  }

  .login-footer {
    margin: 0 5%;
    padding: 0;
    justify-content: center;

    ul {
      margin: 5px 0;
      padding: 0;
    }
  }
}
