body {
  background-color: grey;
}
h1 {
  color: rgb(11, 220, 38);
  text-align: center;
}

.location-container {
  display: flex;
  flex-direction: column;
}

.location {
  background-color: white;
  &:hover {
    background: rgba(173, 173, 173, 0.856);
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.location-surrounding {
  display: flex;
  justify-content: center;
}
.location-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
}
.header-container {
  display: flex;
  justify-content: center;
}
.logout-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.title-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  padding-left: 4%;
}
.control-bar {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
.search-and-filter {
  display: flex;
  flex: auto;
}
.search-bar {
  display: flex;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.search-bar-input {
  width: 100%;
  border-radius: 6px;
  outline: none;
  border: 2px solid white;
  &:focus {
    border: 2px solid rgb(4, 185, 185);
  }
}
#add-button {
  color: white;
  margin-left: 3%;
  background-color: rgb(31, 136, 61);
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    background: rgb(2, 103, 2);
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &:active {
    background: rgba(2, 82, 2, 0.928);
  }
}
#logout-button {
  background-color: rgb(227, 73, 73);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 7px;
  padding: 5 10 5 10;
  &:hover {
    background: rgb(181, 20, 20);
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &:active {
    background: rgba(139, 16, 16, 0.928);
  }
}
.name-tags {
  max-height: 30%;
  margin-left: 15px;
}
.street {
  max-height: 30%;
}
.location p {
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 5px;
  line-height: 0.6;
}

.street p {
  font-size: 0.8rem;
  color: rgba(129, 129, 129, 0.798);
  font-weight: normal;
}
