.box-border {
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.right-0 {
  right: 0;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-end;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.gap-5 {
  gap: 5px;
}

.grow {
  flex-grow: 1;
}

.mt-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.p-10 {
  padding: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.rounded-full {
  border-radius: 50%;
}

.aspect-square {
  aspect-ratio: 1/1;
}

.text-center {
  text-align: center;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.bold {
  font-weight: bold;
}

.list-none {
  list-style: none;
}

summary.list-none::-webkit-details-marker {
  display: none;
}

.select-none {
  user-select: none;
  -webkit-user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}
